html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 1300px;
    margin:0 auto;
}

.wrap-item {
    width: 300px;
    align-content:center;
    margin:20px;
    border:1px solid red;
    padding: 5px;
    text-align: center;
}

.basket {
    width: 1300px;
    margin:0 auto;
}